/* merriweather-700 - latin_cyrillic */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/merriweather-v22-latin_cyrillic-700.woff2') format('woff2'),
       url('../fonts/merriweather-v22-latin_cyrillic-700.woff') format('woff'); 
}
/* merriweather-900 - latin_cyrillic */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
  src: local(''),
       url('../fonts/merriweather-v22-latin_cyrillic-900.woff2') format('woff2'), 
       url('../fonts/merriweather-v22-latin_cyrillic-900.woff') format('woff'); 
}
/* lato light */
@font-face {
  font-family: 'Lato';
  src: local('Lato Light'), local('Lato-Light'), url('../fonts/latolight.woff2') format('woff2'), url('../fonts/latolight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
/* lato regular */
@font-face {
  font-family: 'Lato';
  src: local('Lato Regular'), local('Lato-Regular'), url('../fonts/latoregular.woff2') format('woff2'), url('../fonts/latoregular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
/* lato bold */
@font-face {
  font-family: 'Lato';
  src: local('Lato Bold'), local('Lato-Bold'), url('../fonts/latobold.woff2') format('woff2'), url('../fonts/latobold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
/* lato black */
@font-face {
  font-family: 'Lato';
  src: local('Lato Black'), local('Lato-Black'), url('../fonts/latoblack.woff2') format('woff2'), url('../fonts/latoblack.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

/* ===== main styles ===== */

html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #222;
  background-color: #fff;
}

.first {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.block__suptitle {
  margin-bottom: 40px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 33px;
  color: #bdbdbd;
}

.block__title {
  font-family: 'Merriweather', serif;
  font-weight: 900;
  font-size: 48px;
  line-height: 69px;
  color: #333333;
}

.block__title span {
  color: #005fa3;
}


/* ===== header styles ===== */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 14vh;
  padding: 10px 0;
}

.header__logo {
  width: 23.42%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header__logoImg {
  margin-right: 30px;
}

.header__logoText {
  font-family: 'Merriweather', serif;
  font-weight: 900;
  font-size: 36px;
  line-height: 50px;
  color: #005fa3;
}

.header__info {
  position: relative;
  width: 60.45%;
}

.header__about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22px;
}

.header__aboutItem,
.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__aboutItem:nth-child(1),
.header__aboutItem:nth-child(3) {
  position: relative;
  cursor: pointer;
}

.header__aboutItem a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.header__aboutIcon {
  margin-right: 15px;
}

.header__aboutInfo {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
}

.header__link {
  position: relative;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  text-decoration: none;
  text-transform: uppercase;
  color: #222;
}

.header__link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #222;
  left: 0;
  bottom: -4px;
  transform: scale(0);
  transition: all .2s linear;
}

.header__link:hover.header__link::after{
  transform: scale(1);
}

/*--- burger menu ---*/

.body.lock {
  overflow: hidden;
}

.header__burger {
  display: none;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 25px;
  height: 14px;
  z-index: 100;
  cursor: pointer;
}

.header__burger span {
  position: absolute;
  background-color: #282828;
  left: 0;
  width: 100%;
  height: 2px;
  top: 6px;
  transition: all 0.3s ease 0s;
}

.header__burger:before,
.header__burger:after {
  content: "";
  background-color: #282828;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  transition: all 0.3s ease 0s;
}

.header__burger:before {
  top: 0;
}

.header__burger:after {
  bottom: 0;
}

.header__burger.active:before {
  transform: rotate(45deg);
  top: 6px;
  background-color: #fff;
}

.header__burger.active:after {
  transform: rotate(-45deg);
  bottom: 6px;
  background-color: #fff;
}

.header__burger.active span {
  transform: scale(0);
}

.burger__bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 80;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: none;
  transition: all .2s linear;
}

.burger__bg.active {
  display: block;
}

.burger__nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100vh;
  z-index: 100;
  transform: translateX(-100%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #ebebeb;
  padding: 40px;
  transition: all .2s linear;
  overflow: scroll;
}

.burger__link {
  color: #222;
  text-decoration: none;
  text-transform: uppercase;
}

.burger__nav.active {
  transform: translateX(0);
}

.burger__link {
  display: block;
  font-size: 18px;
  margin-bottom: 30px;
}

.burger__nav .header__aboutItem {
  position: relative;
  justify-content: flex-start;
  margin-bottom: 20px;
  margin-left: -10px;
}

.burger__nav .header__aboutIcon {
  margin-right: 10px;
}


/* ===== intro styles ===== */

.intro {
  position: relative;
  min-height: 86vh;
  padding-bottom: 30px;
}

.intro__slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  min-height: 86vh;
}

.intro__info {
  position: relative;
  z-index: 50;
}

.intro .container {
  padding-top: 170px;
}

.intro__title {
  max-width: 54%;
  margin-bottom: 80px;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 66px;
  color: #fff;
  }

.intro__button {
  width: 270px;
  height: 60px;
  margin-bottom: 120px;
  background-color: #005fa3;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #fff;
  border: none;
  outline: none;
  transition: all .2s linear;
}

.intro__button:hover {
  box-shadow: 0px 2px 10px 4px rgba(255, 255, 255, 0.5);
}

.intro__navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.intro__dots {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.intro__dot {
  width: 10px;
  height: 10px;
  background: #fff;
  opacity: 0.4;
  border-radius: 50%;
  margin-right: 40px;
  cursor: pointer;
  transition: all .2s linear;
}

.intro__dot:last-child {
  margin-right: 0;
}

.intro__dot:hover {
  opacity: 1;
}

.intro__dot--active {
  opacity: 1;
}

.intro__arrows {
  display: flex;
  justify-content: flex-end;
}

.intro__prev,
.intro__next {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;  
}

.intro__arrowBG {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: .2;
  transition: all .2s linear;
}

.intro__prev:hover .intro__arrowBG,
.intro__next:hover .intro__arrowBG {
  opacity: .4;
}

/* Popup Связаться с нами */

.contactUs__bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: #323232;
  display: none;
  transition: all .2s linear;
}

.contactUs__bg.active {
  display: block;
}

.contactUs__form {
  position: fixed;
  top: 10%;
  left: 25%;
  right: 25%;
  bottom: 10%;
  z-index: 100;
  display: none;
  padding: 40px 95px;
  background-color: #fff;
  transition: all .2s linear;
  overflow: auto;
}

.contactUs__form.active {
  display: block;
}

.contactUs__title {
  margin-bottom: 77px;
}

.contactUs__close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.contactUs__form-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 35px;
}

.contactUs__name,
.contactUs__surname {
  position: relative;
  width: 47.22%;
}

.contactUs__name {
  margin-right: 5.55%;
}

.contactUs__form-wrapper label,
.contactUs__heading {
  width: 100%;
  display: block;
  margin-bottom: 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #222;
}

.contactUs__form-wrapper input,
.contactUs__text-field {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 21px;
  line-height: 29px;
  color: #939393;
}

.contactUs__name::after,
.contactUs__surname::after {
  position: absolute;
  bottom: -15px;
  left: 0;
  z-index: 10;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #6f6f6f;
}

.contactUs__message {
  width: 100%;
  min-height: 136px;
  border-bottom: solid 1px #6f6f6f;
  margin-bottom: 50px;
}

.contactUs__message::after {
  bottom: 0;
}

.contactUs__text-field {
  display: block;
  width: 100%;
  height: 110px;
  resize: none;
}

.contactUs__submit {
  display: block;
  width: 50%;
  height: 60px;
  margin-left: 50%;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #fff;
  background-color: #005fa3;
  border: none;
  outline: none;
  transition: all .2s linear;
}

.contactUs__submit:hover {
  box-shadow: 0px 2px 10px 4px rgba(255, 255, 255, 0.5);
}


/* ===== services styles ===== */

.services {
  padding: 140px 0;
  background-color: #ebebeb;
}

.services__title {
  margin-bottom: 102px;
}

.services__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.serviser__item {
  position: relative;
  width: 31.53%;
  min-height: 360px;
  margin-right: 2.7%;
  margin-bottom: 30px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
              url('./../img/servises-bg.png') center / cover no-repeat;
  transition: all .2s linear;  
  overflow: hidden;
}

.serviser__item:hover {
  background: linear-gradient(0deg, rgba(0, 95, 163, 0.65), rgba(0, 95, 163, 0.65)),
              url('./../img/servises-bg.png') center / cover no-repeat;
}

.serviser__item:nth-child(3),
.serviser__item:last-child {
  margin-right: 0;
}

.services__text {
  position: absolute;
  left: 45px;
  bottom: 45px;
  z-index: 10;
  max-width: 190px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
}


/* ===== about styles ===== */

.about {
  padding: 140px 0;
  background-color: #f9f9f9;
}

.about__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.about__main {
  width: 40.09%;
  margin-right: 11.26px;
}

.about__title {
  margin-bottom: 60px;
}

.about__text {
  margin-bottom: 79px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
}

.about__infographics {
  width: 48.65%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 47.22%;
  height: 255px;
  margin-right: 5.55%;
  margin-bottom: 30px;
  padding: 30px 5px 40px 40px;
  font-family: 'Lato', sans-serif;
  background-color: #ebebeb;
  transition: all .2s linear;
}

.about__item:nth-child(2),
.about__item:nth-child(4) {
  margin-right: 0;
}

.about__item:nth-child(3),
.about__item:nth-child(4) {
  margin-bottom: 0;
}

.about__counter {
  font-weight: 900;
  font-size: 55px;
  line-height: 66px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000;
  transition: all .2s linear;
}

.about__description {
  max-width: 107px;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #000;
  transition: all .2s linear;
}

.about__link {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #005fa3;
  transition: all .2s linear;
}

.about__item:hover {
  background-color: #005fa3;
}

.about__item:hover .about__counter,
.about__item:hover .about__description,
.about__item:hover .about__link {
  color: #fff;
}


/* ===== gallery styles ===== */

.gallery {
  position: relative;
  padding: 140px 0;
  background-color: #ebebeb;
}

.gallery__title {
  margin-bottom: 42px;
}

.gallery__wrapper {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 5vw);
  grid-gap: 30px;
}

.gallery__item {
  overflow: hidden;
}

.gallery__item:hover .gallery__img {
  transform: scale(1.03);
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--2 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 5;
}

.gallery__item--3 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 5;
}

.gallery__item--4 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 5;
}

.gallery__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all .2s linear;
  cursor: pointer;
}

/* Popup "Фотогалерея" */

.gallery__bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  display: none;
  transition: all .2s linear;
}

.gallery__bg.active {
  display: block;
}

.gallery__close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 200;
}

.gallery__item-full {
  position: fixed;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  z-index: 150;
  max-height: 90vh;
  width: 90vw;
  object-fit: cover;
  display: none;
}

.gallery__item-full.active {
  display: block;
}


/* ===== faq styles ===== */

.faq {
  padding-top: 114px;
  background-color: #f9f9f9;
}

.faq__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.faq__info {
  width: 65.77%;
  margin-right: 2.7%;
  margin-bottom: 76px;
}

.faq__title {
  max-width: 350px;
  margin-bottom: 61px;
}

.faq__item {
  margin-bottom: 1px;
  padding: 30px 42px 31px 30px;
  background-color: #ebebeb;
  transition: all .3s linear;
}

.faq__item:last-child {
  margin-bottom: 0;
}

.faq__heading {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0;
  cursor: pointer;
  transition: all .3s linear;
}

.faq__opened,
.faq__closed {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: all .3s linear;
}

.faq__opened {
  transform: translateY(-73%);  
  opacity: 0;
}

.faq__closed {
  opacity: 1;
}

.faq__topic {
  padding-left: 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #222;
  transition: all .3s linear;
}

.faq__text {
  /* display: none; */
  height: 0;
  visibility: hidden;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 138%;
  color: #fff;
  transition: all .3s linear;
}

/* accordeon */

.faq__item.active {
  background-color: #005fa3;
}

.faq__item.active .faq__heading {
  margin-bottom: 20px;
}

.faq__item.active .faq__opened {
  opacity: 1;
}

.faq__item.active .faq__closed {
  opacity: 0;
}

.faq__item.active .faq__topic {
  color: #fff;
}

.faq__item.active .faq__text {
  /* display: block; */
  height: auto;
  visibility: visible;
  overflow: none;
}

.faq__img {
  width: 31.53%;
}

.faq__img img {
  display: block;
  width: 100%;
  height: auto;
}



/* ===== contact styles ===== */

.contact {
  padding: 122px 0 129px;
  background: url('./../img/contact-bg.jpg') center / cover no-repeat;
}

.contact__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contact__info {
  width: 42.25%;
  margin-right: 9.1%;
}

.contact__title {
  color: #fff;
  margin-bottom: 60px;
}

.contact__text {
  margin-bottom: 80px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
}

.contact__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact__item {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.contact__itemIcon {
  margin-right: 15px;
}

.contact__phone,
.contact__email {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 21px;
  line-height: 29px;
  color: #fff;
}

.contact__item a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.contact__form {
  width: 48.65%;
  display: block;
  margin-top: 13px;
  margin-bottom: 40px;
}

.contact__form-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 50px;
}

.contact__name,
.contact__surname {
  position: relative;
  width: 47.22%;
}

.contact__name {
  margin-right: 5.55%;
}

.contact__form-wrapper label,
.contact__heading {
  width: 100%;
  display: block;
  margin-bottom: 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
}

.contact__form-wrapper input,
.contact__text-field {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 21px;
  line-height: 29px;
  color: #bdbdbd;
}

.contact__name::after,
.contact__surname::after {
  position: absolute;
  bottom: -15px;
  left: 0;
  z-index: 10;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #fff;
}

.contact__message {
  width: 100%;
  min-height: 136px;
  border-bottom: solid 1px #fff;
  margin-bottom: 50px;
}

.contact__message::after {
  bottom: 0;
}

.contact__text-field {
  display: block;
  width: 100%;
  height: 110px;
  resize: none;
}

.contact__submit {
  display: block;
  width: 50%;
  height: 60px;
  margin-left: 50%;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #fff;
  background-color: #005fa3;
  border: none;
  outline: none;
  transition: all .2s linear;
}

.contact__submit:hover {
  box-shadow: 0px 2px 10px 4px rgba(255, 255, 255, 0.5);
}

.contact__map {
  width: 100%;
  min-height: 360px;
}

#map {
  width: 100%;
  height: 360px;
}


/* ===== footer styles ===== */

.footer {
  background-color: #f9f9f9;
}

.footer__wrapper {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copyrigth,
.footer__developed {
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: #000;
}

/* =========================== */
/* ===== adaptive styles ===== */
/* =========================== */

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  .intro__title {
    max-width: 64%;
  }

  .contactUs__form {
    left: 20%;
    right: 20%;
  }

  .serviser__item {
    min-height: 300px;
  }

  .about__item {
    height: 230px;
  }
  
  .contact__container {
    flex-wrap: wrap;
  }

  .contact__item:first-child {
    margin-bottom: 30px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }

  .header__about {
    justify-content: flex-end;
    margin-bottom: 0;
    margin-right: 50px;
  }

  .header__aboutItem:first-child {
    margin-right: 30px;
  }

  .header__aboutItem:nth-child(3),
  .header__aboutItem:nth-child(4) {
    display: none;
  }

  .header__menu {
    display: none;
  }

  .header__burger {
    display: block;
  }

  .intro__title {
    max-width: 84%;
  }

  .contactUs__title {
    margin-bottom: 37px;
    font-size: 38px;
    line-height: 49px;
  }

  .contactUs__name::after,
  .contactUs__surname::after {
    bottom: -10px;
  }

  .contactUs__submit {
    width: 80%;
    margin-left: 20%;
  }

  .serviser__item {
    min-height: 250px;
  }

  .services__text {
    left: 50%;
    transform: translateX(-50%);
  }

  .about__item {
    height: 210px;
    padding: 30px 5px 40px 30px;
  }

  .contact__info {
    margin-right: 0;
    width: 45%;
  }

  .contact__form-wrapper {
    flex-wrap: wrap;
  }

  .contact__name,
  .contact__surname {
    width: 100%;
    margin-right: 0;
  }

  .contact__name {
    margin-bottom: 30px;
  }

  .contact__submit {
    margin-left: 0;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }

  .header__info {
    width: auto;
  }

  .header__about {
    display: block;
  }

  .header__aboutItem:nth-child(1) {
    width: 132px;
    margin-bottom: 10px;
  }

  .header__aboutItem:nth-child(2) {
    width: 145px;
  }

  .contactUs__form {
    left: 15%;
    right: 15%;
    padding: 30px 40px;
  }

  .services,
  .about,
  .gallery {
    padding: 100px 0;
  }

  .faq {
    padding-top: 74px;
  }

  .contact {
    padding: 92px 0 99px;
  }

  .serviser__item:nth-child(n+1) {
    margin: 0 0 15px 0;
    width: 48%;
  }

  .serviser__item:nth-last-child(2n) {
    margin-right: 3%;
  }

  .about__wrapper {
    flex-wrap: wrap;
  }

  .about__main,
  .about__infographics {
    width: 100%;
  }

  .about__text {
    margin-bottom: 60px;
  }

  .gallery__wrapper {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 15vw);
    grid-gap: 20px;
  }

  .gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  
  .gallery__item--2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
  }
  
  .gallery__item--3 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
  }
  
  .gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 9;
  }

  .faq__info {
    width: 100%;
    margin-right: 0;
  }

  .faq__img {
    display: none;
  }

  .contact__wrapper {
    flex-wrap: wrap;
  }

  .contact__info,
  .contact__form {
    width: 100%;
    margin-right: 0;
  }

  .contact__info {
    margin-bottom: 20px;
  }

  .contact__text {
    margin-bottom: 60px;
  }

  .contact__item:first-child {
    margin-bottom: 0;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }

  .header__logo {
    transform: scale(0.9);
  }

  .header__logoImg {
    margin-right: 20px;
  }

  .header__about {
    display: none;
  }

  .intro .container {
    padding-top: 50px;
  }

  .intro__title {
    max-width: 100%;
    margin-bottom: 50px;
    font-size: 34px;
    line-height: 44px;
  }

  .intro__button {
    width: 100%;
    height: 50px;
    margin-bottom: 60px;
  }

  .intro__navbar {
    justify-content: flex-end;
  }

  .intro__dots {
    display: none;
  }

  .contactUs__form {
    left: 7%;
    right: 7%;
    padding: 30px 20px;
  }

  .contactUs__title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 25px;
  }

  .contactUs__form-wrapper label,
  .contactUs__heading {
    margin-bottom: 5px;
  }

  .contactUs__form-wrapper {
    flex-wrap: wrap;
  }

  .contactUs__name,
  .contactUs__surname {
    width: 100%;
    margin-right: 0;
  }

  .contactUs__name {
    margin-bottom: 20px;
  }

  .contactUs__message {
    margin-bottom: 30px;
  }

  .contactUs__submit {
    width: 100%;
    margin: 0;
  }

  .services,
  .about,
  .gallery {
    padding: 60px 0;
  }

  .block__suptitle {
    margin-bottom: 30px;
    font-size: 19px;
  }

  .block__title {
    font-size: 27px;
    line-height: 36px;
  }

  .services__title {
    margin-bottom: 72px;
  }

  .serviser__item:nth-last-child(n+1) {
    margin-right: 0;
    width: 100%;
  }

  .about__title {
    margin-bottom: 40px;
  }

  .about__item {
    height: 200px;
    padding: 15px;
  }

  .faq {
    padding-top: 54px;
  }

  .faq__title {
    margin-bottom: 45px;
  }

  .contact__title {
    margin-bottom: 30px;
  }

  .contact__text {
    margin-bottom: 40px;
  }

  .contact__container {
    justify-content: center;
  }

  .contact__item:first-child {
    margin-bottom: 25px;
  }

  .footer__wrapper {
    flex-wrap: wrap;
  }

  .footer__copyrigth,
  .footer__developed {
    width: 100%;
    text-align: center;
  }
}

/* появление блоков при скролле */

.element-animation {
  opacity: 0;
  transform: translateY(20px);
}

.element-animation.element-show {
  opacity: 1;
  transition: all 1s;
  transform: translateY(0%);
}